<div class="container">
  <div class="container-fluid">
      <div class="card">
          <div class="card-header">
              <h3>Angular Root Component</h3>
          </div>
          <br>
          <div class="card-body">
            <nav style="display: flex; justify-content: space-around;" >
              <button class="btn btn-primary" routerLink="usecase1">Use Case 1</button>
              <button class="btn btn-primary" routerLink="usecase2">Use Case 2</button>
              <button class="btn btn-primary" routerLink="usecase3">Use Case 3</button>
            </nav>
            <hr>
            <router-outlet></router-outlet>
            <!-- <app-comp-main></app-comp-main>
            <app-country></app-country>
            <app-store></app-store> -->


            <!-- <app-card>
              <h5 header>Use Case 1</h5>
              <app-comp-main></app-comp-main>
            </app-card> <hr> -->
            <!-- <app-card>
              <h5 header>Use Case 2</h5>
              <app-country></app-country>
            </app-card> <hr> -->
            <!-- <app-card>
              <h5 header>Use Case 3</h5>
              <app-store></app-store>
            </app-card> <hr> -->
            
          </div>
      </div>
  </div>
</div>